example/src/img1
example/src/img2
example/src/*.json
example/src/*.zip
node_modules
example2/dist
example2/src/img1
example2/src/img2
exampl2e/src/*.json
example2/src/*.zip
node_modules
example2/dist
example2/dist
example3/src/img1
example3/src/img2
example3/src/*.json
example3/src/*.zip
example/src/data

